            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                            <img src="{{site.url}}/images/us.jpg" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                            <span class="author-label">Author</span>
                            <h1>{{ site[page.author].name }}</h1>

                            <h3><a href="mailto:{{ site[page.author].email }}" class="author-website">{{ site[page.author].email }}</a></h3>
                            <p>{{ site[page.author].description }}</p>

                    </section>
                </div>
            </div>
